<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.txt" >

  <variable name="logdir" value="${basedir}/logs" />

  <targets async="true">

    <target xsi:type="File" name="tracefile"
            fileName="${logdir}/trace.log"
            archiveFileName="${logdir}/archive/trace.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="24"/>

  <target xsi:type="File" name="errorfile"
    fileName="${logdir}/error.log"
    archiveFileName="${logdir}/archive/error.{#}.txt"
    archiveEvery="Day"
    archiveNumbering="Rolling"
    maxArchiveFiles="7" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="tracefile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>

</nlog>